body{
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width: 800px;
  background-color: #333333;
  color: lightyellow;
  margin: 60px auto;
}

h1, h2{
  text-align: center;
  margin: 20px;
}

a{
  color: lightblue;
}

table{
  width: 100%;
  table-layout: fixed;
}

th, .table-header{
  font-size: 18px;
  color: salmon;
  padding: 10px;
  border-bottom: 1px solid salmon;
}

td{
  font-size: 12px;
  padding: 10px;
  border-bottom: 1px solid salmon;
}

iframe{
  display: block;
  margin: 0 auto;
}

@media (max-width: 600px){
  body{
    background-color: blue;
  }
}

#profilepic{
  width: 80px;
  border-radius: 3px;
  box-shadow: 3px 3px 12px grey;
  opacity: 0.6;
}
