$bg-color: #333333;
$accent-color: salmon;
$txt-color: lightyellow;
$hover-color: lightblue;

body{
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width: 1000px;
  background-color: $bg-color;
  color: $txt-color;
  margin: 60px auto;
  padding: 0px 10px;
}

h1, h2{
  text-align: center;
  margin: 20px;
}

a{
  color: lightblue;
}

table{
  width: 100%;
  table-layout: fixed;
}

th, .table-header{
  font-size: 18px;
  color: accent-color;
  padding: 10px;
  border-bottom: 1px solid salmon;
}

td{
  font-size: 12px;
  padding: 10px;
  border-bottom: 1px solid salmon;
}

iframe{
  display: block;
  margin: 0 auto;
}

@media (max-width: 1000px){
  body{
    margin: 20px;
  }
  table{
    width: 1000px;
  }
}

%images{
  margin: 14px;
  border-radius: 2px;
  border: 2px solid $accent-color;
}

.animationImages{
  text-align: center;
}

.animationImages img{
  @extend %images;
  width: 246px;
}

.animationImages img:hover{
  border: 8px solid $hover-color;
}

.codingTiles{
  display: flex;
  align-items: center;
}

.codingTiles img{
  @extend %images;
  width: 400px;
}

.codingTiles img:hover{
  border: 8px solid $hover-color;
}

#profilepic{
  width: 80px;
  border-radius: 3px;
  box-shadow: 3px 3px 12px grey;
  opacity: 0.6;
}
